<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="icon" href="/public/image/image.jpg" type="image/jpg" />
    <title>Detail Project</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light shadow-sm p-2 mb-5 bg-body rounded">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="https://dumbways.id/assets/images/brandred.png" alt="logo"
                    width="50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add-project">Add Project</a>
                    </li>
                </ul>
                <a href="contact" class="btn bg-orange text-white rounded-pill">Contact Me</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            <h1 class="d-flex justify-content-center fw-bold mb-5">Dumbways Mobile App 2021</h1>
        </div>
        <div class="d-flex">
            <img src="/public/image/image.jpg" alt="Foto" class="me-5"
                style="width: 650px; height: 300px; object-fit: cover">
            <div>
                <h5 class="mb-3 fw-bold">Duration</h5>
                <i class="fa-solid fa-calendar-days mb-3" style="width: 25px;"></i>
                <span>12 Jan 2021 - 12 Mar 2021</span><br>
                <i class="fa-solid fa-clock" style="width: 25px;"></i>
                <span>2 Month(s)</span><br>
                <h5 class="my-3 fw-bold">Technologies</h5>
                <i class="fa-brands fa-node mb-3" style="width: 25px;"></i>
                <span>Node JS</span><br>
                <i class="fa-brands fa-vuejs mb-3" style="width: 25px;"></i>
                <span>Vue JS</span><br>
                <i class="fa-brands fa-react mb-3" style="width: 25px;"></i>
                <span>React JS</span><br>
                <i class="fa-brands fa-js" style="width: 25px;"></i>
                <span>TypeScript</span><br>
            </div>
        </div>
    </div>
    <div class="container my-5" style="text-align: justify;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium molestiae iure minus quae, amet omnis
            expedita reprehenderit velit sequi doloremque rerum dolores harum eaque cum laborum rem, totam, veniam vero
            aspernatur! Mollitia illo delectus est consequuntur? Tempora, necessitatibus corrupti! Praesentium, numquam
            doloribus. Excepturi odio debitis necessitatibus, optio consectetur itaque, dolorum corrupti minus fuga
            laboriosam reprehenderit? <br>
            Aspernatur expedita porro dolorum omnis, unde quam! Dolorem non quibusdam itaque eveniet nihil dolorum, ab
            fuga laborum, iure eos placeat, qui sed explicabo error ut maiores atque earum eligendi laudantium numquam
            aspernatur modi porro totam. Et reiciendis exercitationem perferendis quasi earum expedita rem laboriosam
            corporis dolore, pariatur dolores vel, officia est possimus quisquam. Explicabo totam sit cumque dignissimos
            neque illo quisquam magni, dolorum non aut magnam provident error earum mollitia quod minima dolore nostrum,
            deleniti eveniet iusto. Id voluptatem recusandae nulla asperiores aliquam placeat odit harum, sunt labore.
            Dignissimos earum rerum nemo adipisci dolorem. <br>
            Culpa, dolores consectetur hic, earum, vero nesciunt unde minima nihil deleniti iste veritatis ipsum? Fugiat
            a officia eaque temporibus. Nisi magnam ratione pariatur amet quia facilis eos ducimus vero neque! Modi
            numquam non, iure nisi voluptatibus suscipit deleniti libero, autem ullam distinctio deserunt commodi sed
            necessitatibus assumenda omnis maiores ipsum reprehenderit officia repellat? Provident iste odit eum
            laudantium quisquam laborum? Expedita reprehenderit laudantium perspiciatis voluptate ratione, vitae
            cupiditate quasi. Quae, minima placeat libero, modi excepturi officia non cumque aliquam enim ratione aut!
            Laboriosam eum consectetur, eveniet sit nostrum dolores fuga culpa soluta illo. <br>
            Veritatis repellendus, officia laboriosam atque consectetur quod, quas corporis omnis perspiciatis,
            explicabo labore totam autem aperiam incidunt? Esse animi, veritatis at provident praesentium sit repellat
            omnis facilis aliquid neque minus rem, sunt cupiditate illo aspernatur ipsa quasi exercitationem modi,
            perspiciatis accusamus deleniti. Consectetur ullam sapiente repellat itaque exercitationem at beatae eaque
            error id commodi! Facilis ipsum architecto ut sapiente inventore. <br>
            Veniam numquam et necessitatibus possimus, maxime est, provident perferendis dolorem nihil neque deleniti
            praesentium libero unde expedita, dolorum voluptatum itaque impedit. Nobis a nisi explicabo, aliquam
            voluptas ducimus itaque odio quidem maxime ut harum, provident dignissimos fuga voluptates, sint enim
            eveniet impedit sit? Placeat sit, labore quia perferendis doloremque ullam. Deleniti veniam placeat
            laudantium optio in sapiente deserunt modi reiciendis consequatur atque explicabo quisquam non iusto totam
            possimus quod, dolor ut cupiditate voluptatibus!</p>
    </div>
</body>

</html>